/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 oct. 2019, 17:57:32
    Author     : eugen
*/

.menu{
    background-color:white;
    position: fixed;
    top:10px;
    height: 50px;
    width: 90%;
    text-align: center;
    font-family: fantasy;
    border-radius: 30px;
    margin-left: 5%;
}

.menu a{
    text-decoration: none;
    position: relative;
    top:-17px;
    color: #00703c;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.menu a:hover{
    color: black;
    background:aqua;
    border-radius: 30px;
}

.menu a:active{
    background: #cef3d6;
}

.menu a:visited { 
    color: purple; 
}

.menu a:link { 
    color: #00703c; 
}

.menu img{
    position: relative;
    right:100px;
}

#logo-menu{
       left:0px;
       height:50px;
}

.menu-font{
    background-color:white;
}

.detalles{
    font-family: serif;
    color: #00703c;
    font-size: 22px;
    margin-left: 10px;
}

h1{
    margin-left: 10px;
}

body{
    margin-top: 90px;
    font-family: serif;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #ffffce;
}

h1, h2{
    font-size:30px;
    color: #00703c;
    font-family: "Gotham 5r",Helvetica,Arial,sans-serif;
}

h2{
    text-align: center;
}

li{
    list-style-type: none;
}

main{
    background-color: #cef3d6;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

main li{
    margin-left: 30%;
}

videos{
    position:relative;
    right: 150px;
}

.telefonos{
    text-align: center;
    font-family: serif;
    font-size: 22px;
}

footer{
    text-align: center;
    font-family: serif;
}