/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-oct-2019, 13:11:53
    Author     : Carlos
*/
body{
    background-color: #D3D3D3;
}

/*
-
-
Fuentes
-
-
*/

h1, h2, h3, h4, .lateral, .areaLimpia{
    font-family: sans-serif;
}

/*
-
-
cabecera
-
-
*/
.cabecera{
    background-color: #000080;
    color: #FFFFE0;
    text-align: center;
}

/*
-
-
lateral
-
-
*/
.lateral{
    float: left;
    width: 20%;
}

.logo {
    background-color: white;
    padding: 10px 0px;
}

.logo img{
    display: block;
    margin: auto;
}

.lateral ul{
    background-color: #000080;
    padding: 10px 5px 10px 50px;
    margin: 0%;
}

.lateral ul li{
    color: #F7F704;
}

.lateral ol li a{
    color: #A2B8DC;
    text-decoration: none;
}

/*
-
-
central
-
-
*/
.central{
    float: left;
    width: 79%;
    margin-left: 10px;
}

.central h2{
    text-align: center;
    border-style: double;
    border-color: #000080;
    color: #000080;
    border-width: 5px;
    background-color: #ADD8E6 ;
    padding: 15px 0px;
}

.cuaderno{
    background-color:#FFFFE0;
}

.cuaderno h3{
    padding-top: 25px;
    padding-left: 5px;
    margin: 0px 10px;
    color: #000080;
    border-bottom-style: solid;
    border-bottom-color: #5555A0;
}

.areaLimpia {
    float: right;
    width: 25%;
    background-color: white;
    border-style: dashed;
    margin: 10px;
    padding-left: 10px;
}

.areaLimpia a{
    text-decoration: none;
}

#objetivos, #conceptos{
    width: 70%;
}

.bloqueexplicacion {
    padding: 20px 7.5px;
    background-color: #E0FFFF;
    margin: 7.5px 15px;
    clear: both;
}

.bloqueexplicacion a{
    text-decoration: none;
    color: #FF0D0D;
    background-position:right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.bloqueexplicacion a::after{
    content: url("imagenes/link.png");
}

.bloqueexplicacion ol, .bloqueexplicacion ul{
    background-color: white;
    border-style:dashed;
    padding: 20px 40px;
}

.bloqueexplicacion ol li a{
    display: inline-block;
    margin-top: 20px;
}

h4{
    margin: 20px 15px;
    color: #000080;
}

.cuaderno .figura{
    display: inline-block;
    width: 93.5%;
    margin: 5px 2.25%;
    border-style: solid;
    background-color: white;
    padding: 1%;
    text-align: center;
}

.figura img{
    max-width: 100%;
}

.cuaderno dt{
    font-weight: bold;
}

.cuaderno dd{
    background-color:#FFE4C4;
    border-style: solid;
    border-color:blueviolet;
    padding: 10px 7.5px;
}

.codigo{
    background-color:#1E90FF;
    border-style: solid;
    border-color: #000080;
    color: white;
    padding: 10px;
}

.identificadorExp, .identificadorEje, .identificadorPro{

    border-style: solid;
    border-color: blue;
    color: blue;
    padding: 2.5px;
}

.identificadorExp{
    background-color:#66ffff;
}

.identificadorEje{
    background-color:darkorange;
}

.identificadorPro{
    background-color:yellow;
}

.salidapantalla{
    color: #007900;
    background-color: black;
    border-style:double ;
    border-color: yellow;
    margin: 10px;
    padding: 15px;
}

.ecuacion{
    text-align: center;
}

.bloqueexplicacion dl ul, .bloqueexplicacion li ol, .bloqueexplicacion li ul{
    background-color: transparent;
    border-style: hidden;
    padding: 0px 30px;
}
/* 
-
-
pie
-
-
*/

.pie{
    clear: both;
    text-align: right;
    background-color: #000080;
    color: yellow;
    padding: 10px;
}

/*
-
-
pagina en construccion
-
-
*/
.central .aviso{
    text-align: center;
    font-family: sans-serif;
    background-color: #E0FFFF;
    border-style:double;
    border-color:#FF0000;
    border-width: 5px;
    padding: 40px 22%;
    
}

.tituloaviso{
    font-size: 2.5em;
}

.tituloaviso::before, .tituloaviso::after{
    content: url(imagenes/construccion.png);
}
